<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animations/bomb_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1272},{239,329}}</string>
                <key>offset</key>
                <string>{44,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,2},{239,329}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,734},{245,133}}</string>
                <key>offset</key>
                <string>{29,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,207},{245,133}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1808},{229,189}}</string>
                <key>offset</key>
                <string>{38,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,147},{229,189}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1561},{197,213}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,123},{197,213}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1598},{185,205}}</string>
                <key>offset</key>
                <string>{16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,131},{185,205}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,899},{183,219}}</string>
                <key>offset</key>
                <string>{16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,117},{183,219}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1598},{205,205}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,131},{205,205}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,533},{245,199}}</string>
                <key>offset</key>
                <string>{21,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{245,199}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,946},{241,191}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,145},{241,191}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,172},{359,247}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,97},{359,247}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1808},{273,225}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,133},{273,225}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1272},{285,287}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,81},{285,287}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1513},{293,317}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{293,317}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,724},{319,347}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,50},{319,347}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1299},{297,323}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,35},{297,323}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,990},{307,329}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{307,329}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,87},{257,83}}</string>
                <key>offset</key>
                <string>{5,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,275},{257,83}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,2},{257,83}}</string>
                <key>offset</key>
                <string>{5,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,275},{257,83}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/bomb_frame_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,869},{243,75}}</string>
                <key>offset</key>
                <string>{2,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,281},{243,75}}</string>
                <key>sourceSize</key>
                <string>{381,407}</string>
            </dict>
            <key>Animations/declear_anim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,724},{137,129}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,81},{137,129}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,990},{167,139}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,64},{167,139}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1131},{187,151}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,54},{187,151}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1776},{197,173}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{197,173}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1802},{175,183}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{175,183}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,724},{173,187}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{173,187}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1607},{193,191}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{193,191}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1320},{151,175}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{151,175}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,987},{115,121}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,43},{115,121}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/declear_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1518},{77,77}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{77,77}}</string>
                <key>sourceSize</key>
                <string>{209,213}</string>
            </dict>
            <key>Animations/fst_table_anim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1518},{71,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Animations/fst_table_anim_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1321},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>Animations/fst_table_anim_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1561},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>Animations/fst_table_anim_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1666},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>Animations/plane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,332},{497,328}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{497,328}}</string>
                <key>sourceSize</key>
                <string>{505,338}</string>
            </dict>
            <key>Animations/plane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{499,328}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{499,328}}</string>
                <key>sourceSize</key>
                <string>{505,338}</string>
            </dict>
            <key>Animations/plane3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,662},{491,326}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{491,326}}</string>
                <key>sourceSize</key>
                <string>{505,338}</string>
            </dict>
            <key>Animations/remain_alarm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1561},{50,42}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{50,42}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Animations/remain_alarm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1497},{60,52}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{60,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>VIEW_BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>btn_add_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1597},{67,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,32}</string>
            </dict>
            <key>btn_callscore_d_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1192},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1120},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1120},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1114},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_n_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1114},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1036},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1036},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_callscore_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,958},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_cardrecord_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1956},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>btn_continue_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,958},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_exit_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,880},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_nobig_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,880},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_pass_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,802},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_pass_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,802},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_product_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,724},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_product_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,724},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_prompt_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1139},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_prompt_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1803},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_reselect_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1805},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_reselect_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1805},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_stop_trustee_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1805},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>btn_stop_trustee_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1805},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1553},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>call_score_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1408},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>call_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1987},{86,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>call_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1987},{96,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>call_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1497},{96,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>cannot_takeout_card_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,724},{1230,100}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{1230,100}}</string>
                <key>sourceSize</key>
                <string>{1280,100}</string>
            </dict>
            <key>card_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1598},{203,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,93}}</string>
                <key>sourceSize</key>
                <string>{203,93}</string>
            </dict>
            <key>card_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1956},{668,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,89}}</string>
                <key>sourceSize</key>
                <string>{668,89}</string>
            </dict>
            <key>card_tag_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,1951},{65,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,50}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>head_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,863},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>icon_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1217},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1464},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>pic_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1280,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,45}}</string>
                <key>sourceSize</key>
                <string>{1280,45}</string>
            </dict>
            <key>pic_bottom_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,946},{162,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,25}}</string>
                <key>sourceSize</key>
                <string>{162,25}</string>
            </dict>
            <key>pic_call_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,1110},{160,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,25}}</string>
                <key>sourceSize</key>
                <string>{162,25}</string>
            </dict>
            <key>player_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1104},{109,120}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>player_nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1215},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1045},{225,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{225,346}}</string>
                <key>sourceSize</key>
                <string>{229,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameLandRes.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:731d5511aa85f57b0d8ed3be53bdf7f4$</string>
            <key>textureFileName</key>
            <string>GameLandRes.png</string>
        </dict>
    </dict>
</plist>
